body {
  min-height: 2000px;
  padding-top: 70px;
}

a {
  color: #00B7FF;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.nav, .navbar-header{
  font-family: 'Poiret One', cursive;
}

.jumbotron h2 {
  font-family: 'Poiret One', cursive;
}

