body {
  min-height: 2000px;
  padding-top: 70px;
  background: url('http://www.hercampus.com/sites/default/files/2015/11/17/hair2.jpg') no-repeat fixed center;
  background-size: cover;
  background-position: top 0 left 0;
}

a {
  color: #00B7FF;
}

.jumbotron {
background: linear-gradient(rgba(255,255,255,1), rgba(200,200,200 , 0.9), rgba(200,200,200,0));
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.nav, .navbar-header{
  font-family: 'Poiret One', cursive;
}

.jumbotron h2 {
  font-family: 'Poiret One', cursive;
}

.jumbotron h3 {
  font-family: 'Poiret One', cursive;
}

.jumbotron h4 {
  font-family: 'Poiret One', cursive;
}

.home {
  background-image: url("http://www.hercampus.com/sites/default/files/2015/11/17/hair2.jpg")

}
